.node-builder {
	width: 800px;
	margin: 20px auto;
}

.node-builder .text-input {
	min-height: 200px;
	font-size: 16px;
}

.node-builder .option-input {
	font-size: 16px;
	margin-bottom: 20px;
}

.tag-suggestion {
	top: 5px;
	padding: 10px;
	font-size: 16px;
}

.tag-suggestion--selected {
	background: gray;
}

.text-input__suggestions,
.option-input__suggestions {
	top: 18px;
	border: 1px solid black;
}